body {
    color: #000;
    border-radius: 10px;
}

.well{
    border-radius: 10px;
}

.row{
    background: transparent;
}

.weather-card{
    border-radius: 5px;
    background: #f5f5f5 !important;
    height: 125px;
    border-right: #616161 1px solid;
}

.bold{
    font-weight: bold;
}

.cold{
    color: #0091EA;
}

.warm{
    color: #D50000;
}

div.weather-img-div{
    width: 55px;
    height: 45px;
    margin: 0 auto;
}

.centered-label{
    text-align: center;
}